DeinDeal.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
DeinDeal.xcodeproj/project.xcworkspace/xcuserdata/alexandremontcuit.xcuserdatad/IDEFindNavigatorScopes.plist
DeinDeal.xcodeproj/project.xcworkspace/xcuserdata/alexandremontcuit.xcuserdatad/xcdebugger/Expressions.xcexplist
DeinDeal.xcodeproj/xcuserdata/alexandremontcuit.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
